@using ArtavBlog.Models.Messaging.Public
@model IEnumerable<Chat>
@{
    ViewData["Title"] = "CareChat";
}
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<input id="input-opId" type="hidden" value="@ViewData["OpeId"]" />
<input id="input-choosedGuestId" type="hidden" value="" />
<div class="container">
    <div class="row">
        <div id="chat-customercare" class="conversation-wrap col-lg-3">
            @foreach (Chat item in Model)
            {
                <div class="media conversation" cn-Id="@item.ConnectionId">
                    <a class="img-userprof pull-left" href="#">
                    </a>
                    <div class="media-body text-align-right">
                        <h5 class="media-heading">@item.SenderName</h5>
                        <small>@item.LastMessageText</small>
                        <button cn-Id="@item.ConnectionId" class="btn btn-warning button-deletechat text-align-left">بستن گفتگو</button>
                    </div>
                </div>
            }

        </div>

        <div class="message-wrap col-lg-8">
            <div id="chat-context" class="msg-wrap">
                <div class="media msg ">
                    <a class="img-userprof pull-left" href="#">
                    </a>
                    <div class="media-body text-align-right">
                        <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                        <h5 class="media-heading">Naimish Sakhpara</h5>
                        <small class="col-lg-10">
                            Location H-2, Ayojan Nagar, Near Gate-3, Near
                            Shreyas Crossing Dharnidhar Derasar,
                            Paldi, Ahmedabad 380007, Ahmedabad,
                            India
                            Phone 091 37 669307
                            Email aapamdavad.district@gmail.com
                        </small>
                    </div>
                </div>
            </div>
            <div class="send-wrap ">
                <textarea id="input-message" class="form-control send-message" rows="3" placeholder="پیام خود را بنویسید"></textarea>
            </div>
            <div class="btn-panel">
                <button id="button-send" class="col-lg-4 text-left btn send-message-btn pull-right">
                    <i class="fa fa-plus"></i> ارسال
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-delete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="button-closemodal" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">توجه</h4>
            </div>
            <div class="modal-body text-align-center">
                <p>
                    آیا از بسته شدن این گفتگو مطمئن هستید؟
                </p>
                <p class="bg-danger text-align-center">
                    گفتگوی بسته شده قابل بازگشایی نیست
                </p>
            </div>
            <div class="modal-footer ">
                <button type="button" id="button-deletemodal" class="btn btn-danger" data-dismiss="modal">
                    بسته شود
                </button>
                <button type="button" id="button-backmodal" class="btn btn-toolbar" data-dismiss="modal">
                    بازگشت
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-cannotdelete" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="button-closemodal" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">توجه</h4>
            </div>
            <div class="modal-body text-align-center">
                <p id="message-chatUnreach" class="bg-warning">
                    گفتگوی موردنظر قابل دسترسی نیست
                </p>
                <p id="message-deletesuccess" class="bg-success">
                    گفتگو با موفقیت بسته شد
                </p>
                <p id="message-deletefail" class="bg-warning text-align-center">
                    در انجام عملیات مشکلی بوجود آمده است
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="button-backmodal" class="btn btn-toolbar" data-dismiss="modal">
                    بازگشت
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var userChatTag = $('<img>')
            .attr('src', '/setting/GetImageByUrl?imageUrl=~/images/app/user.png')
            .attr('style', 'width: 50px; height: 50px;')
            .addClass('media-object');
        var userCareTag = $('<img>')
            .attr('src', '/setting/GetImageByUrl?imageUrl=~/images/app/care.png')
            .attr('style', 'width: 50px; height: 50px;')
            .addClass('media-object');
        var operatorId = $('#input-opId').val();
        $('.img-userprof').html(userChatTag);
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.start().catch(function (e) {
            console.log(e);
        });
        connection.on("CareReceive", (sender, connectionId, message, messageId) => {
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes();
            MessageRender(false, message, '', time, connectionId, messageId);
            $('#input-choosedGuestId').val(connectionId);
        });
        $('#button-send').click(function () {
            var message = $('#input-message').val();
            if (message === '') {
                return;
            }
            $('#input-message').val('');
            var connectionId = $('#input-choosedGuestId').val();
            connection.invoke('CareSend', connectionId, operatorId, message).catch(err => console.error(err.toString()));
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes()
            MessageRender(true, message, '', time, connectionId, '');
        });
        $('.button-deletechat').click(function () {
            var cnId = $(this).attr('cn-Id');
            $('#button-deletemodal').attr('cn-Id', cnId);
            $('#modal-delete').modal('show');
        });
        $('#button-deletemodal').click(function () {
            var specCnId = $(this).attr('cn-Id');
            $.ajax({
                type: 'POST',
                url: '/manage/deletecarechat?cnId=' + specCnId,
                success: function (backData) {
                    $('#modal-delete').modal('hide');

                    if (backData) {
                        $('#message-deletefail').attr('hidden', 'hidden');
                        $('#message-chatUnreach').attr('hidden', 'hidden');
                        $('#message-deletesuccess').removeAttr('hidden');
                        $.each($('div[cn-Id]'), function (index, element) {
                            if ($(element).attr('cn-Id') === specCnId) {
                                $(element).remove();
                                return false;
                            }
                        });
                    }
                    else {
                        $('#message-deletesuccess').attr('hidden', 'hidden');
                        $('#message-chatUnreach').attr('hidden', 'hidden');
                        $('#message-deletefail').removeAttr('hidden');
                    }
                    $('#modal-cannotdelete').modal('show');
                }
            });
        });
        $('.conversation').click(function (event) {
            debugger;
            event.preventDefault();
            var thisConversion = $(this);
            if (thisConversion.hasClass('conversation-choosed')) {
                $('#chat-context').html('');
                thisConversion.removeClass('conversation-choosed');
                $('#input-choosedGuestId').val('');
                return;
            }
            var specCnId = thisConversion.attr('cn-Id');
            $.ajax({
                type: 'POST',
                url: '/Manage/LockCareChat?cnId=' + specCnId,
                success: function (backData) {
                    debugger;
                    if (backData) {
                        $.each($('.conversation'), function (index, element) {
                            $(element).removeClass('conversation-choosed');
                        });
                        thisConversion.addClass('conversation-choosed');
                        $('#input-choosedGuestId').val(specCnId);
                        $('#chat-context').html('');
                        $.ajax({
                            type: 'POST',
                            url: '/manage/getcaremessages?cnId=' + specCnId,
                            success: function (backData) {
                                for (var i = 0; i < backData.length; i++) {
                                    var item = backData[i];
                                    var date = item['messagePersianDate'];
                                    var time = item['messageTime'];
                                    var sender = item['sender'];
                                    var boolSender = (sender !== 'Guest');
                                    var mText = item['messageText'];
                                    MessageRender(boolSender, mText, date, time, specCnId, '');
                                }

                            }
                        });
                    }
                    else {
                        $('#message-deletefail').attr('hidden', 'hidden');
                        $('#message-deletesuccess').attr('hidden', 'hidden');
                        $('#message-chatUnreach').removeAttr('hidden');
                        $('#modal-cannotdelete').modal('show');
                    }
                },
                error: function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                }
            });
        });

        function MessageRender(isFromCare, message, sendDate, sendTime, connectionId, messageId) {
            if (!isFromCare) {
                var divParent = $('<div>').addClass('media')
                    .addClass('msg', connectionId)
                    .attr('msg-Id', messageId);
                $('#chat-context').append(divParent);
                var aLogo = $('<a>')
                    .addClass('img-userprof')
                    .addClass('pull-left')
                    .attr('href', '#');
                divParent.append(aLogo);
                var divChild = $('<div>')
                    .addClass('media-body')
                    .addClass('text-align-right');
                var small = $('<small>')
                    .addClass('pull-right time');
                var i = $('<i>')
                    .addClass('fa')
                    .addClass('fa-clock-o')
                    .html(sendTime);
                small.append(i);
                divChild.append(small);
                var h = $('<h5>')
                    .addClass('media-heading').html('Guest');
                divChild.append(h);
                var smallInner = $('<small>')
                    .addClass('col-lg-10')
                    .html(message);
                divChild.append(smallInner);
                divParent.append(divChild);
                $('.img-userprof').html(userChatTag);

            }
            else {
                var divParent = $('<div>').addClass('media')
                    .addClass('msg', connectionId)
                    .attr('msg-Id', messageId);
                $('#chat-context').append(divParent);
                var aLogo = $('<a>')
                    .addClass('img-careprof')
                    .addClass('pull-left')
                    .attr('href', '#');
                divParent.append(aLogo);
                var divChild = $('<div>')
                    .addClass('media-body')
                    .addClass('text-align-left');
                var small = $('<small>')
                    .addClass('pull-right time');
                var i = $('<i>')
                    .addClass('fa')
                    .addClass('fa-clock-o')
                    .html(sendTime);
                small.append(i);
                divChild.append(small);
                var h = $('<h5>')
                    .addClass('media-heading').html('Operator');
                divChild.append(h);
                var smallInner = $('<small>')
                    .addClass('col-lg-10')
                    .html(message);
                divChild.append(smallInner);
                divParent.append(divChild);
                $('.img-careprof').html(userCareTag);
            }
        }
    });
</script>
<style type="text/css">
    .conversation-wrap {
        box-shadow: -2px 0 3px #ddd;
        padding: 0;
        max-height: 400px;
        overflow: auto;
    }

    .conversation-choosed {
        background-color: #cfba7e !important;
        cursor: pointer !important;
    }



    .conversation {
        padding: 5px;
        border-bottom: 1px solid #ddd;
        margin: 0;
        cursor: pointer !important;
    }

    .message-wrap {
        box-shadow: 0 0 3px #ddd;
        padding: 0;
    }

    .msg {
        padding: 5px;
        /*border-bottom:1px solid #ddd;*/
        margin: 0;
    }

    .msg-wrap {
        padding: 10px;
        max-height: 400px;
        overflow: auto;
    }

    .time {
        color: #bfbfbf;
    }

    .send-wrap {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px;
        /*background: #f8f8f8;*/
    }

    .send-message {
        resize: none;
    }

    .highlight {
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
    }

    .send-message-btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn-panel {
        background: #f7f7f9;
        bottom: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

        .btn-panel .btn {
            color: #b8b8b8;
            transition: 0.2s all ease-in-out;
        }

            .btn-panel .btn:hover {
                color: #666;
                background: #f8f8f8;
            }

            .btn-panel .btn:active {
                background: #f8f8f8;
                box-shadow: 0 0 1px #ddd;
            }

    .btn-panel-conversation .btn, .btn-panel-msg .btn {
        background: #f8f8f8;
    }

        .btn-panel-conversation .btn:first-child {
            border-right: 1px solid #ddd;
        }

    .msg-wrap .media-heading {
        color: #003bb3;
        font-weight: 700;
    }


    .msg-date {
        background: none;
        text-align: center;
        color: #aaa;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
    }


    body::-webkit-scrollbar {
        width: 12px;
    }


    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        /*        -webkit-border-radius: 10px;
        border-radius: 10px;*/
        background: #ddd;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

        ::-webkit-scrollbar-thumb:window-inactive {
            background: #ddd;
        }
</style>

